{% extends "base.html" %}

{% block content %}

<h2>Login</h2>

<!-- Display flashed messages here -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="/login" method="post">
    {{ form.hidden_tag() }} <!-- Generates a hidden field that includes a CSRF token -->
    <div>
        {{ form.username.label }} <!-- Renders the label for the username field -->
        {{ form.username(size=32) }} <!-- Renders the username input field -->
    </div>
    <div>
        {{ form.password.label }} <!-- Renders the label for the password field -->
        {{ form.password(size=32) }} <!-- Renders the password input field -->
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<br>
<a href="/register">Don't have an account? Register here!</a>

{% endblock %}
